<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="email" formControlName="email" />
      <div
        class="validation"
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
        <small *ngIf="form.get('email').errors.required"
          >Поле не може бути пустим</small
        >
        <small *ngIf="form.get('email').errors.email"
          >Введіть коректний Email</small
        >
      </div>
    </div>
    <div class="form-control">
      <label>Password</label>
      <input
        type="password"
        placeholder="password"
        formControlName="password"
      />
      <div
        class="validation"
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >
        <small *ngIf="form.get('password').errors.required"
          >Поле не може бути порожнім</small
        >
        <small *ngIf="form.get('password').errors.minlength"
          >Довжина повинна бути не менше
          {{ form.get("password").errors.minlength.requiredLength }}, На даний
          момент кількість символів:
          {{ form.get("password").errors.minlength.actualLength }}
        </small>
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Adress</h2>

      <div class="form-control">
        <label>Country</label>

        <select formControlName="country">
          <option value="ru">Росія</option>
          <option value="ua">Україна</option>
          <option value="by">Білорусь</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city" />
      </div>

      <button type="button" class="btn" (click)="setCapital()">
        Вибрати столицю
      </button>
    </div>
    <div class="card">
      <h2>Ваші навики</h2>
      <button type="button" class="btn">Добавити вміння</button>
      <div class="form-control">
        <label></label>
        <input type="text" />
      </div>
    </div>

    <button type="submit" class="btn" [disabled]="form.invalid">
      Відправити
    </button>
  </form>
</div>
<router-outlet></router-outlet>
